{% extends 'base.html.twig' %}

{% block title %}Login!{% endblock %}

{% block body %}
<style>
</style>
<div class="container">
    <div class="col-md-12">
        <div class="col-md-6">
            <h3>View All Parcels</h3>
        </div>
        {% if is_granted('ROLE_SENDER') %}
            <div class="col-md-6" style="text-align:right">
                <a class="btn btn-primary" href="{{path('app_add_parcel')}}">Add New Parcel</a>
            </div>      
        {% endif %}  
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Pick-up</th>
                <th>Drop-off</th>
                <th>Status</th>
                <th>Biker Name</th>
                <th>Created At</th>
                <th>Updated At</th>
            </tr>
            </thead>
            <tbody>
            {% for parcel in parcels %}
            <tr>
                <td>{{ parcel.id }}</td>
                <td>{{ parcel.title }}</td>
                <td>{{ parcel.pick_up }}</td>
                <td>{{ parcel.drop_off }}</td>
                {% for bp in parcel.theBikerParcel %}
                    <td>{{ bp.status }}</td>
                    <td>{{ bp.biker.user.username }}</td>
                    <td>{{ bp.pickUpAt|date('d-m-Y h:i:s') }}</td>
                    <td>{{ bp.dropOffAt|date('d-m-Y h:i:s') }}</td>            
                {% endfor %}              
            </tr>
            {% endfor %}
            </tbody>
        </table>
  </div>
</div>

<script src="{{ asset('js/parcel.js') }}?version={{random(1,4)}}"></script>
{% endblock %}